@import '../../../../styles/constants.scss';

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content {
  display: flex;
  flex-direction: column;
  min-width: 750px;
  width: 100%;
  padding: 35px;
  background-color: $color-header;
  border: 1px solid $color-border;
  border-radius: 12px;

  .task_name {
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .task_status,
  .task_reporter,
  .task_type,
  .task_deadline,
  .task_priority {
    :first-child {
      color: $color-text-additional;
      font-weight: 300;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  :first-child {
    flex: 0 0 30%;
  }
}

.status_icon,
.priority_icon {
  border-radius: 100%;
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-text;
}

.material-symbols-outlined {
  font-variation-settings:
    'wght' 300,
    'opsz' 20;
}

.overdue {
    color: $color-overdue;
  }