$color-background: rgb(248 250 252);
$color-header: rgb(255, 255, 255);
$color-text: rgb(30 41 59);
$color-border: rgb(203 213 225);
$color-bg-hover: rgb(235, 239, 242);
$color-bg-button: rgb(235, 239, 242);
