$color-background: rgb(248 250 252);
$color-header: rgb(255, 255, 255);
$color-text: rgb(30 41 59);
$color-text-additional: rgb(113 113 122);
$color-border: rgb(203 213 225);
$color-bg-hover: rgb(235, 239, 242);
$color-bg-button: rgb(235, 239, 242);
$color-status-done: rgb(30, 41, 59, 0.5);
$color-overdue: rgb(239 68 68);