<div class="wrapper">
  <div class="tasks_title">
    <h2 class="task_header">Tasks</h2>
    <p class="task_count">{{ tasks.length }} tasks</p>
  </div>

  <div class="content">
    <!-- Headers -->
    <div class="tasks_headers">
      <div class="header">Title</div>
      <div
        class="header"
        (click)="sortTasksByReporter()">
        Reporter
        @if (reporterSortOrder === 'asc') {
          <mat-icon>expand_less</mat-icon>
        } @else if (reporterSortOrder === 'desc') {
          <mat-icon>expand_more</mat-icon>
        }
      </div>
      <div
        class="header"
        (click)="sortTasksByDate()">
        Deadline
        @if (dateSortOrder === 'asc') {
          <mat-icon>expand_less</mat-icon>
        } @else if (dateSortOrder === 'desc') {
          <mat-icon>expand_more</mat-icon>
        }
      </div>
      <div class="header">Priority</div>
      <div class="header">Status</div>
    </div>

    <!-- List of Tasks -->
    @for (task of tasks; track $index) {
      <app-item [task]="task"></app-item>
    }
  </div>
</div>
