@import '../../../../styles/constants.scss';

.wrapper {
    padding: 15px;
}
.content {
  background-color: $color-header;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 7px;
}

.tasks_title {
    margin-bottom: 15px;
}

.task_header {
  font-size: 3.2rem;
  font-weight: 800;
  margin: 0;
}

.task_count {
  color: $color-text-additional;
  font-weight: 800;
  margin: 0;
}

.tasks_headers {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tasks_headers > div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid $color-border;
    min-height: 35px;
    border-bottom: 2px solid $color-border;
    color: $color-text-additional;
    font-weight: 300;
  }

  .tasks_headers > div:first-child {
    flex-basis: 30%;
    border-left: none;
    justify-content: start;
    padding-left: 12px;
  }