@import '../../../../styles/constants.scss';
@import '../../../../styles/placeholders.scss';

.wrapper {
  padding: 30px;
}

.list_headaer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  background-color: $color-header;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 7px;
}

.tasks_title {
  margin-bottom: 15px;
}

.task_header {
  font-size: 3.2rem;
  font-weight: 800;
  margin: 0;
}

.task_count {
  color: $color-text-additional;
  font-weight: 800;
  margin: 0;
}

.tasks_headers {
  display: flex;
  align-items: center;
  justify-content: center;

  .header {
    @extend %transition;
    &:hover {
      cursor: pointer;
      background-color: $color-bg-hover;
    }
  }
}

.tasks_headers > div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid $color-border;
  min-height: 35px;
  border-bottom: 2px solid $color-border;
  color: $color-text-additional;
  font-weight: 300;
}

.tasks_headers > div:first-child {
  flex-basis: 30%;
  border-left: none;
  justify-content: start;
  padding-left: 12px;
}

.filter_button {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  padding: 9px 17px;

  font-size: 1.6rem;
  font-weight: 600;
  background-color: $color-bg-button;

  border-radius: 22px;
  border: none;
  cursor: pointer;
  @extend %font-prim;

  &:hover {
    border: 1px solid $color-text;
  }
}
::ng-deep .mat-mdc-outlined-button {
  .mat-icon {
    font-size: 2rem !important;
    width: 2rem !important;
    height: 2rem !important;
  }
}

::ng-deep .mat-mdc-menu-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px !important;
}

.menu_button {
  display: flex;
  justify-content: start;
}

.icon_active {
    color: rgb(54, 188, 255);
} 
