<div class="wrapper">
  <div class="list_headaer">
    <div class="tasks_title">
      <h2 class="task_header">Tasks</h2>
      <p class="task_count">{{ tasks.length }} tasks</p>
    </div>
    <button
      mat-button
      [matMenuTriggerFor]="menu"
      class="filter_button">
      Filter
    </button>

    <mat-menu #menu="matMenu">
      <!-- Reset filter -->
      <button
        class="menu_button"
        mat-stroked-button
        (click)="filterTasks('reset')">
        <span class="name">Reset filter</span>
        @if (filterStatus === 'reset') {
          <mat-icon class="icon_active material-symbols-outlined">check</mat-icon>
        } @else {
          <mat-icon class="icon material-symbols-outlined">check_circle</mat-icon>
        }
      </button>

      <!-- Completed tasks -->
      <button
        class="menu_button"
        mat-stroked-button
        (click)="filterTasks('done')">
        @if (filterStatus === 'done') {
          <mat-icon class="icon_active material-symbols-outlined">check</mat-icon>
        } @else {
          <mat-icon class="icon material-symbols-outlined">check_circle</mat-icon>
        }
        <span class="name">Completed tasks</span>
      </button>

      <!-- Uncompleted tasks -->
      <button
        class="menu_button"
        mat-stroked-button
        (click)="filterTasks('undone')">
        @if (filterStatus === 'undone') {
          <mat-icon class="icon_active material-symbols-outlined">check</mat-icon>
        } @else {
          <mat-icon class="icon material-symbols-outlined">check_circle</mat-icon>
        }
        <span class="name">Uncompleted tasks</span>
      </button>
    </mat-menu>
  </div>

  <div class="content">
    <!-- Headers -->
    <div class="tasks_headers">
      <div class="header">Title</div>
      <!-- Reporter -->
      <div
        class="header"
        (click)="sortTasksBy('reporter')">
        Reporter
        @if (currentSortField === 'reporter') {
          @if (sortOrder['reporter'] === 'asc') {
            <mat-icon>expand_less</mat-icon>
          } @else if (sortOrder['reporter'] === 'desc') {
            <mat-icon>expand_more</mat-icon>
          }
        }
      </div>

      <!-- Deadline -->
      <div
        class="header"
        (click)="sortTasksBy('date')">
        Deadline
        @if (currentSortField === 'date') {
          @if (sortOrder['date'] === 'asc') {
            <mat-icon>expand_less</mat-icon>
          } @else if (sortOrder['date'] === 'desc') {
            <mat-icon>expand_more</mat-icon>
          }
        }
      </div>
      <!-- Priority -->
      <div
        class="header"
        (click)="sortTasksBy('priority')">
        Priority
        @if (currentSortField === 'priority') {
          @if (sortOrder['priority'] === 'asc') {
            <mat-icon>expand_less</mat-icon>
          } @else if (sortOrder['priority'] === 'desc') {
            <mat-icon>expand_more</mat-icon>
          }
        }
      </div>

      <!-- Status -->
      <div
        class="header"
        (click)="sortTasksBy('status')">
        Status
        @if (currentSortField === 'status') {
          @if (sortOrder['status'] === 'asc') {
            <mat-icon>expand_less</mat-icon>
          } @else if (sortOrder['status'] === 'desc') {
            <mat-icon>expand_more</mat-icon>
          }
        }
      </div>
    </div>

    <!-- List of Tasks -->
    @for (task of tasks; track $index) {
      <app-item
        [task]="task"
        (deleteClicked)="onDelete($event)"
        (editClicked)="onEdit($event)"
        (completeClicked)="onComplete($event)"></app-item>
    }
  </div>
</div>
