@import '../../../../../styles/constants.scss';
@import '../../../../../styles/placeholders.scss';

.item_content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 50px;
  border-bottom: 1px solid $color-border;
  @extend %transition;
  &:hover {
    background-color: $color-bg-hover;
  }
}

.item_content > div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid $color-border;
  min-height: 50px;
}

.item_content > div:first-child {
  flex-basis: 30%;
  border-left: none;
  justify-content: start;
  padding-left: 32px;
  font-weight: 500;
}

.item_content {
  .item_reporter {
    justify-content: start;
  }
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  a {
    flex: 1;
    text-decoration: none;
    color: $color-text;
  }

  a:hover {
    color: $color-text;
  }

  a:active {
    color: $color-text;
  }
}

.item_status,
.item_priority {
  .status_icon,
  .priority_icon {
    border-radius: 100%;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-text;
  }

  .material-symbols-outlined {
    font-variation-settings:
      'wght' 300,
      'opsz' 20;
  }
}

.status_title,
.priority_title,
.deadline_title {
  font-size: 1.4rem;
  font-weight: 300;
}

.status_done {
  color: $color-status-done;
}

.overdue {
  color: $color-overdue;
}

.button {
  position: absolute;
  width: 33px;
  height: 33px;
  padding: 0;
  border: none;
  background: none;
  color: $color-border;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @extend %transition;
  &:hover {
    border: none;
    background: none;
  }
}

.delete_button {
  right: 20px;
  &:hover {
    color: $color-overdue;
  }
}

.edit_button {
  right: -4px;

  &:hover {
    color: $color-active;
  }
}

.complete_button {
  border: none;
  background: none;
  &:hover {
    color: $color-complete;
  }

  .complete {
    color: $color-complete;
  }
}

.user_bage {
  width: 24px;
  height: 24px;
  margin: 0 5px 0 15px;
  background-color: $color-active;
  border-radius: 100%;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
