@if (task) {
  <div
    class="item"
    [id]="'task-' + task.id">
    <a [routerLink]="[task.id]">
      <div
        class="item_content"
        [ngClass]="{
          status_done: task.status == 'done'
        }">
        <!-- Task Name -->
        <div class="item_name">
          {{ task.name }}
        </div>
        <!-- Reporter -->
        <div class="item_reporter">
          <div class="user_bage">
            {{ task.reporter.charAt(0) }}{{ task.reporter.charAt(task.reporter.indexOf(' ') + 1) }}
          </div>
          {{ task.reporter }}
        </div>
        <!-- Deadline -->
        <div class="item_deadline">
          <p
            class="deadline_title"
            [ngClass]="{ overdue: getOverdue(task.deadline) }">
            {{ task.deadline | date: 'MMMM dd, yyyy' }}
          </p>
        </div>
        <!-- Priority -->
        <div class="item_priority">
          <mat-icon
            class="priority_icon material-symbols-outlined"
            [ngStyle]="{ color: (task.priority | priorityInfo).color }"
            >{{ (task.priority | priorityInfo).icon }}</mat-icon
          >
          <p class="priority_title">
            {{ (task.priority | priorityInfo).text }}
          </p>
        </div>
        <!-- Status -->
        <div class="item_status">
          <mat-icon
            class="status_icon material-symbols-outlined"
            [ngStyle]="{ color: (task.status | statusInfo).color }"
            >{{ (task.status | statusInfo).icon }}</mat-icon
          >
          <p class="status_title">
            {{ (task.status | statusInfo).text }}
          </p>
        </div>
      </div>
    </a>

    <!--Complete button-->
    <button
      class="complete_button button"
      (click)="onCompleteClick(task)">
      <mat-icon
        [ngClass]="{ complete: task.status === 'done' }"
        class="material-symbols-outlined"
        >check_box</mat-icon
      >
    </button>

    <!--Delete button-->
    <button
      [matTooltip]="'Delete'"
      [matTooltipPosition]="'above'"
      class="delete_button button"
      (click)="onDeleteClick(task.id)">
      <mat-icon class="material-symbols-outlined">delete</mat-icon>
    </button>

    <!--Edit button-->
    <button
      [matTooltip]="'Edit'"
      [matTooltipPosition]="'above'"
      class="edit_button button"
      (click)="onEditClick(task)">
      <mat-icon class="material-symbols-outlined">edit</mat-icon>
    </button>
  </div>
}
