@if (task) {
  <div class="item">
    <a href="">
      <div
        class="item_content"
        [ngClass]="{
          status_done: task.status == 'done'
        }">
        <div class="item_name">{{ task.name }}</div>
        <div class="item_reporter">{{ task.reporter }}</div>
        <div class="item_deadline">
          <p
            class="deadline_title"
            [ngClass]="{overdue: getOverdue(task.deadline)}">
            {{ task.deadline | date: 'MMMM dd, yyyy' }}
          </p>
        </div>
        <div class="item_priority">
          <mat-icon
            class="priority_icon material-symbols-outlined"
            [ngStyle]="{ color: (task.priority | priorityInfo).color }"
            >{{ (task.priority | priorityInfo).icon }}</mat-icon
          >
          <p class="priority_title">
            {{ (task.priority | priorityInfo).text }}
          </p>
        </div>
        <div class="item_status">
          <mat-icon
            class="status_icon material-symbols-outlined"
            [ngStyle]="{ color: (task.status | statusInfo).color }"
            >{{ (task.status | statusInfo).icon }}</mat-icon
          >
          <p class="status_title">
            {{ (task.status | statusInfo).text }}
          </p>
        </div>
      </div>
    </a>
  </div>
}
