@import '../../../../../styles/constants.scss';
@import '../../../../../styles/placeholders.scss';

.item_content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 50px;
  border-bottom: 1px solid $color-border;
  @extend %transition;
  &:hover {
    background-color: $color-bg-hover;
  }
}

.item_content > div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid $color-border;
  min-height: 50px;
}

.item_content > div:first-child {
  flex-basis: 30%;
  border-left: none;
  justify-content: start;
  padding-left: 12px;
  font-weight: 500;
}

.item {
  a {
    text-decoration: none;
    color: $color-text;
  }

  a:hover {
    color: $color-text;
  }

  a:active {
    color: $color-text;
  }
}

.item_status,
.item_priority {
  .status_icon,
  .priority_icon {
    border-radius: 100%;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-text;
  }

  .material-symbols-outlined {
    font-variation-settings:
      'wght' 300,
      'opsz' 20;
  }
}

.status_title,
.priority_title,
.deadline_title {
  font-size: 1.4rem;
  font-weight: 300;
}

.status_done {
  color: $color-status-done;
}
